@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <img src="~/images/aa.jpg" class="img-responsive" style="height:500px;width:100%;"/>

    </div>
</div>

<div class="row">
    
        <h2>Hospital Management System</h2>
        <p style="text-align:justify;">
            Hospital management system can be developed by using waterfall model which is a popular version of development life cycle model for software engineering. It describes a development method that is linear and sequential. It has distinct goals for each phase of development. In this model once, a phase of development is completed, there is no turning back, the development proceeds to the next phase. The advantage of this model is that it allows for departmentalization and managerial control.
        </p>
    
</div>